<h2>Memberships</h2>
<% if @project.memberships.empty? %>
    No members yet
<% else %>
    <table id='memberships' class='zebra-striped'>
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Initials</th>
      </tr>
      </thead>
      <tbody>
      <% @project.memberships.each do |membership| %>
          <tr>
            <td><%= membership.name %></td>
            <td><%= membership.email %></td>
            <td><%= membership.initials %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>