<% content_for :header do %>
    <h1>Listing projects</h1>
<% end %>

<% content_for :header_right do %>
<% end %>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.id %></td>
    <td><%= project.name %></td>
    <td><%= link_to 'Show', project %></td>
  </tr>
<% end %>

</table>

<br />


