<%= link_to "ptTaskboard", root_path, class: "brand" %>

<ul class="nav">
    <li class="dropdown" data-dropdown="dropdown" >
        <a class="dropdown-toggle" href="#">Taskboard</a>
        <ul class="dropdown-menu">
            <li></li>
            <li><a href="#">Stories</a></li>
        </ul>
    </li>
</ul>

